.Header {
  background-color: $midnight-gray;
  color: $moonglow;
  text-align: center;
  padding: 50px 30px;
  font-family: "BrandonReg", sans-serif;
  font-size: 25px;
  img {
    width: 100px;
    height: auto;
  }
}

@media (min-width: 500px) {
  .Header {
    text-align: left;
    padding: 30px 20px 30px 50px;
    div {
      display: inline-block;
      margin-left: 20px;
      vertical-align: middle;
    }
    img {
        vertical-align: middle;
    }
  }
}
